{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="bg-primary py-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="">TRÁMITE PERMISO DE CIRCULACIÓN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4"></div>

    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{% static 'img/permiso-de-circulacion.jpg' %}" alt="Imagen" class="img-fluid">
        </div>
        <div class="col-md-6 float-right">
            <p style="font-size: 15px; font-family: Arial;" class="text-justify">Para solicitar un permiso de circulación, dar clic aquí: <a href="/tramites/permiso_circulacion/">Permiso de Circulación</a>.</p>
            <p style="font-size: 15px; font-family: Arial;" class="text-justify">Deberá considerar los siguientes requisitos:<br>      
            1. Carta de autorización dirigido al gerente general de la ATV.<br>
            2. Foto del vehículo.<br>
            3. Matrícula del vehículo.<br>
            4. Copia a colores de Cédula y Certificado de Votación de Propietario.<br>
            5. Certificado de revisión técnica vehicular.</p>
            
            <br>
        </div>
    </div>

    <div class="row mt-4"></div>

    <div class="row">
        <div class="col">
            <div class="bg-primary py-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="">TRÁMITE IMPUGNACIÓN DE MULTAS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4"></div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">Para consultar las multas que serán impugnadas, dar clic aquí: <a href="/tramites/multas/">Multas</a></p>    
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">En caso de consultar los trámites de las multas que han sido impugnadas, dar clic aquí: <a href="/tramites/multas/impugnaciones/">Trámites Multas</a></p>
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">Considerar que para este proceso es necesario ingresar su número de placa y deberá confirmar sus datos.</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{% static 'img/multas.jfif' %}" alt="Imagen" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="row mt-4"></div>

    <div class="row">
        <div class="col">
            <div class="bg-primary py-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="">SOCIOS Y VEHÍCULOS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4"></div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{% static 'img/socios-vehiculos.jfif' %}" alt="Imagen" class="img-fluid">
            </div>
            
            <div class="col-md-6 float-right">
                <h2 style="font-size: 18px; font-family: Arial;" class="text-justify">Desvinculación</h2>
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">Deberá considerar los siguientes requisitos: <br>
                    1. Copia del permiso de operación y de todas las resoluciones de los socios. <br>																																											
                    2. Comprobante de pago del costo del servicio.<br>																																											
                    3. Copia de documentos personales del socio: cédula de ciudadanía, papeleta de votación vigente legible  y licencia vigente.<br>																																											
                    4. Copia de la matrícula vigente.<br>																																											
                    5. Copia legible del RUC de la operadora.<br>																																											
                    6. Copia simple del nombramiento del representante legal.<br>																																											
                    7. Copia de la licencia profesional del socio o chofer.<br>																																											
                    8. Copia de la cédula de ciudadanía y papeleta de votación del representante legal de la compañía o cooperativa.<br> 																																											
                    9. Certificado de la compañía que actualmente pertenece.<br> 																																											
                    10. Certificado expedido por la compañía a la que el socio pertenecerá, así como una declaración del vehículo, que especifique la disponibilidad de cupo.<br>																																											
                    11. Informe de factibilidad de la Autoridad de transito o GAD, a la que el socio pertenecerá.<br> 																																											
                    10. Certificado de no adeudar al GADMS.<br>																																											
                    11. Solicitud dirigida al Gerente General.</p>		
                    12. Formulario de Solicitud de desvinculación. <a href="{% static 'formularios/desvinculacion.xls' %}" download="desvinculacion.xls">Descargar Formulario</a></p>																																									
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 style="font-size: 18px; font-family: Arial;" class="text-justify">Vinculación</h2>
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">Deberá considerar los siguientes requisitos: <br>
                    1. Solicitud dirigida al Gerente General.	<br>																																
                    2. Comprobante de pago del servicio.<br>																	
                    3. Copia del RUC a color actualizado.<br>																
                    4. Copia del Nombramiento del representante legal inscrito en el registro mercantil, copia de la cédula y papeleta de votación vigente del representante legal.<br> 																	
                    5. Certificado de cumplimientos de obligaciones con el IESS de la operadora.<br> 																	
                    6. Listado actualizado (últims 30 dias)  de accionistas emitido por la Superintendencia de Compañías.<br>																	
                    7. Copia de la cédula y papeleta de votación de los socios propuestos.<br> 																	
                    8. Certificado de historial laboral del IESS de él o los nuevos socios y/o accionistas de la compañía o cooperativa, para verificar que no sean autoridades o empleados civiles que trabajen o hayan trabajado hasta dos años antes de la fecha de la solicitud, en los organismos relacionados con el tránsito y el transporte terrestre, según la Disposición General Decimoctava de la LOTTTSV. Si el o los vehículos son de propiedad de la operadora, el certificado del historial laboral del IESS corresponderá al del representante legal.<br>																	
                    9. Copia de la licencia profecional del socio o chofer que manejará el vehiculo.<br>																	
                    10. Certificado de Comandancia de Policia y Comisión de Transito del Ecuador de NO PERTENECER a la fuerza pública.<br>																
                    11. Certificado de comandancia  de las Fuerzas Armadas  de NO PERTENECER a la fuerza armada.<br>																	
                    12. Copia de la matrícula vigente.<br>																	
                    13. Copia Permiso de operación y de todas las resoluciones de los socios.<br>																	
                    14. Certificado de no adeudar  al  GADMS.<br>																	
                    15. Copia de la factura o contrato de compra venta notariado de él o los vehículos nuevos; copia de matrícula para vehículos usados; o Carta de Intención (formato ATM) en el cual el nuevo socio se comprometa a ingresar un vehículo en la Operadora cumpliendo la normativa vigente.<br>																	
                    16. Revisión  técnica  vehicular  vigente,  según  el  cuadro  de  calendarización  vigente,  excepto  para vehículos nuevos.<br>																	
                    17. Carta justificativa del aumento de cupo, detallando las razones que respaldan esta solicitud.<br>																	
                    18. Carta de Intención<br>																	
                    19. Formulario de Solicitud de incremento de cupo. <a href="{% static 'formularios/vinculacion.xls' %}" download="desvinculacion.xls">Descargar Formulario</a></p>		
                </p>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <img src="{% static 'img/vinculación.jfif' %}" alt="Imagen" class="img-fluid mb-4">
                <br>
                <br>
                <br>
                <img src="{% static 'img/vinculación2.jfif' %}" alt="Imagen" class="img-fluid">
            </div>
        </div>
    </div>
</div>


{% endblock %}