{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="bg-primary py-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="/audit">REGISTRO DE AUDITORÍA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="table-responsive">
                <table id="auditoria-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Actividad</th>
                            <th>Usuario</th>
                            <th>Fecha Ingreso Actividad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registro in registros %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ registro.actividad }}</td>
                            <td>{{ registro.usuario.username }}</td>
                            <td>{{ registro.fecha_registro|date:"d-m-Y H:i" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script>
    jQuery(document).ready(function($) {
        $('#auditoria-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "dom": 'Bftlipr', 
            "deferRender": true,
            "buttons": [
                {
                    "extend": 'excel',
                    "text": 'Exportar a Excel',
                    "className": 'btn btn-sm'
                },
                {
                    "text": 'Ir a Dashboard',
                    "className": 'btn-sm btn-success',
                    "action": function (e, dt, node, config) {
                        window.location.href = "{% url 'dashboard' %}";
                    }
                }
            ]
        });
    });
</script>

{% endblock %}
