{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    {% block title %}
    Trámites
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/icon.png'%}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap/bootstrap.min.css'%}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/font-awesome/css/all.min.css'%}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/stylesheet.css'%}" />

  <!-- Web Fonts
    ============================================= -->
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  {% block stylesheet %}
  {% endblock %}
</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div data-loader="dual-ring"></div>
  </div>
  <!-- Preloader End -->
  <!-- Header
  ============================================= -->
  <header id="header">
    <div class="container">
      <div class="header-row">
        <div class="header-column justify-content-start">
          <!-- Logo
          ============================= -->
          <div class="logo"> <a class="d-flex" href="/home" title="Payyed - HTML Template"><img
                src="{% static 'img/logo.png' %}" alt="My image"></a> </div>
          <!-- Logo end -->
          <!-- Collapse Button
          ============================== -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span>
            <span></span> <span></span> </button>
          <!-- Collapse Button end -->

          <!-- Primary Navigation
          ============================== -->
          <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li class="dropdown"> <a class="dropdown-toggle" href="#">Trámites</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown"><a href="{% url 'permiso_circulacion' %}">Permiso de Circulación</a></li>
                    <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Multas</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'multas' %}">Consultar</a></li>
                        <li><a class="dropdown-item" href="{% url 'multas_impugnaciones' %}">Seguimiento de
                            Impugnación</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown" href="{% url 'socios_vehiculos' %}">Socio - Vehículos</a>
                    </li>
                  </ul>
                </li>
                {% if request.user.groups.all|length > 0 %}
                {% for group in request.user.groups.all %}
                {% if group.name == 'Nivel1' %}

                {% else %}
                <li class="dropdown"> <a class="dropdown-item" href="/admin/">Mantenimiento</a>
                </li>
                <li class="dropdown"> <a class="dropdown-item" href="/audit">Auditoría</a>
                </li>
                {% endif %}
                {% endfor %}
                {% else %}
                <li class="dropdown"> <a class="dropdown-item" href="/admin/">Mantenimiento</a>
                </li>
                <li class="dropdown"> <a class="dropdown-item" href="/audit">Auditoría</a>
                </li>
                {% endif %}
                <li class="dropdown"> <a class="dropdown-item" href="/company">Sobre Nosotros</a>
                </li>

                <li class="dropdown"> <a class="dropdown-item" href="/info_contact">Contáctanos</a>
                </li>

                <li class="dropdown"> <a class="dropdown-item" href="/about">Soporte</a>
                </li>

              </ul>
            </div>
          </nav>
          <!-- Primary Navigation end -->
        </div>
        <div class="header-column justify-content-end">
          <!-- Login & Signup Link
          ============================== -->
          <nav class="login-signup navbar navbar-expand">
            <ul class="navbar-nav">
              {% if request.session.logged_in %}
              <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary" href="/">Salir</a></li>
              <nav class="login-signup navbar navbar-expand">
                <ul class="navbar-nav">
                  <li class="dropdown profile ml-2">
                    <a class="px-0 dropdown-toggle" href="#">
                      <img class="small-profile-image rounded-circle" src="{% static 'img/profile-thumb_resized.jpg' %}"
                        alt="">
                    </a>
                    <ul class="dropdown-menu">
                      <li class="text-center text-3 py-2">Hola, {{ request.user.first_name }}!</li>
                      <li class="dropdown-divider mx-n3"></li>
                      <li><a class="dropdown-item" href="/settings-profile"><i class="fas fa-user"></i>Mi Perfil</a>
                      </li>
                      <li class="dropdown-divider mx-n3"></li>
                      <li><a class="dropdown-item" href="/info_contact"><i class="fas fa-life-ring"></i>Necesitas
                          Ayuda?</a></li>
                      <li><a class="dropdown-item" href="/"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              {% else %}
              <li><a href="/">Iniciar</a> </li>

              {% endif %}
            </ul>
          </nav>
          <!-- Login & Signup Link end -->
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->
  <!-- Content
  ============================================= -->
  <div id="content">
    {% block content %}

    {% endblock %}
    <!-- Content end -->
    <!-- Footer
  ============================================= -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg d-lg-flex align-items-center">
            <ul class="nav justify-content-center justify-content-lg-start text-3">
              <li class="nav-item"> <a class="nav-link active" href="#">Sistema de Gestión de Trámites</a></li>
            </ul>
          </div>
          <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
            <ul class="social-icons justify-content-center">
              <li class="social-icons-twitter"><a data-toggle="tooltip" href="https://twitter.com/atvsamborondon"
                  target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li class="social-icons-facebook"><a data-toggle="tooltip" href="https://www.facebook.com/atvsamborondon/"
                  target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li class="social-icons-google"><a data-toggle="tooltip" href="https://www.instagram.com/atvsamborondon/"
                  target="_blank" title="Intagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-copyright pt-3 pt-lg-2 mt-2">
          <div class="row">
            <div class="col-lg">
              <p class="text-center text-lg-left mb-2 mb-lg-0">&copy; 2024 <a href="#"> Empresa Pública de Tránsito y
                  Vigilancia Ciudadana de Samborondón, ATV</a>. Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->

    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block js %}
    {% endblock %}
</body>

</html>