{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="bg-primary py-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="">SOBRE NOSOTROS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4"></div> 

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{% static 'img/imagen-empresa.jpg' %}" alt="Imagen" class="img-fluid">
            </div>
            <div class="col-md-6 float-right">
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">La EMPRESA PÚBLICA MUNICIPAL DE
                    MOVILIDAD DE SAMBORONDÓN EP, fue creada mediante Resolución No. 44C-SG-ICM-2015, emitida por el
                    Gobierno Autónomo Descentralizado Municipal del Cantón Samborondón, con el objeto de organizar,
                    administrar, regular y controlar las actividades de gestión, ejecución y operación de los servicios
                    relacionados con la movilidad, tránsito, transporte terrestre y seguridad vial en la circunscripción
                    del cantón Samborondón.</p>
                <br>
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">Con fecha 22 de diciembre de 2020,
                    publica en el registro oficial en cual se estable el cambio de nombre de la EMPRESA PUBLICA
                    MUNICIPAL DE MOVILIDAD DE SAMBORONDÓN EP por: EMPRESA PÚBLICA MUNICIPAL DE TRÁNSITO Y VIGILANCIA
                    CIUDADANA DE SAMBORONDÓN, ATV.</p>
            </div>
        </div>
    </div>

    <div class="row mt-4"></div> 

    <div class="row">
        <div class="col">
            <div class="bg-primary py-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="">MISIÓN Y VISIÓN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4"></div> 

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 style="font-size: 18px; font-family: Arial;" class="text-justify">Misión</h2>
                <br>
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">Planificar, administrar, regular, controlar y ejecutar la gestión de movilidad integral, precautelando la seguridad y control vial, a través de la gestión integrada de políticas de protección para los samborondeños y visitantes, mediante la aplicación y cumplimiento de las políticas públicas con normatividad nacional y local, que promuevan una cultura de Seguridad Vial con servicios de calidad e innovación constante.</p>
    
                <h2 style="font-size: 18px; font-family: Arial;" class="text-justify">Visión</h2>
                <br>
                <p style="font-size: 15px; font-family: Arial;" class="text-justify">Ser referente nacional en movilidad sustentable y cultura vial ciudadana, con talento humano competente y comprometido con bases en la transparencia, apoyados en la innovación y tecnología, que generen experiencias de calidad en la ciudadanía, con un enfoque social, ambiental y sustentable organizacionalmente.</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{% static 'img/vision-y-mision.jpg' %}" alt="Imagen" class="img-fluid">
            </div>
        </div>
    </div>

</div>

{% endblock %}