{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="bg-primary py-2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="/dashboard">Gráficos estadísticos de Actividades</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <img src="{% url 'generate_another_plot_area' %}" alt="Gráfica Trámite permiso de circulación" class="img-fluid mb-4">
                </div>
                <div class="col-md-6">

                    <img src="{% url 'generate_another_plot_donut' %}" alt="Gráfica Trámite Impugnación de Multas" class="img-fluid mb-4">
                </div>
            </div>
            <div class="col-md-12 text-center">
                <img src="{% url 'generate_stacked_bar_chart' %}" alt="Gráfica Socios y Vehículos" class="img-fluid mb-4" style="width: 80%; height: auto;">
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock %}