{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/owl.carousel.min.css'%}"/>
{% endblock %}

{% block content %}

    <!-- Slideshow end --> 
  <!-- Main Topics
    ============================================= -->
    <section class="section py-3 my-3 py-sm-5 my-sm-5">
      <h2 class="text-9 text-center">Trámites</h2>
      <p class="lead text-center mb-5">Accede a los trámites disponibles que ofrece la Autoridad de Tránsito y Vigilancia de Samborondón</p>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="bg-white shadow-sm rounded p-4 text-center"> <span class="d-block text-17 text-primary mt-2 mb-3"><i class="fas fa-file-alt"></i></span>
              <h3 class="text-body text-4">Permiso de Circulación</h3>
              <p class="mb-0"><a class="text-muted btn-link" href="{% url 'permiso_circulacion' %}">Ver Trámite<span class="text-1 ml-1"><i class="fas fa-chevron-right"></i></span></a></p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="bg-white shadow-sm rounded p-4 text-center"> <span class="d-block text-17 text-primary mt-2 mb-3"><i class="fas fa-money-check-alt"></i></span>
              <h3 class="text-body text-4">Impugnación de multas</h3>
              <p class="mb-0"><a class="text-muted btn-link" href="{% url 'multas_impugnaciones' %}">Ver Trámite<span class="text-1 ml-1"><i class="fas fa-chevron-right"></i></span></a></p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
            <div class="bg-white shadow-sm rounded p-4 text-center"> <span class="d-block text-17 text-primary mt-2 mb-3"><i class="fas fa-user-circle"></i></span>
              <h3 class="text-body text-4">Socios y Vehículos</h3>
              <p class="mb-0"><a class="text-muted btn-link" href="{% url 'socios_vehiculos' %}">Ver Trámite<span class="text-1 ml-1"><i class="fas fa-chevron-right"></i></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Main Topics end --> 

    {% block js %}
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    {% endblock %}
{% endblock %}
