{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="content">
    <div class="container">
        <!-- Enviar correo
        <div class="container text-center my-auto py-5">
            <div class="row">
                <div class="col">
                    <div class="bg-primary py-2">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active text-white" href="">CONTÁCTANOS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <h3 class="text-5 text-dark font-weight-400 mb-3">Envianos un correo</h3>
                    <form method="post" action="{% url 'send_test_email' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="emailcorreo" class="form-control" id="emailAddress" required
                                placeholder="info@atv.gob.ec">
                        </div>
                        <div class="form-group">
                            <input type="text" name="asuntocorreo" class="form-control" id="subject" required
                                placeholder="Asunto">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="cuerpocorreo" id="body" required
                                placeholder="Cuerpo del correo"></textarea>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                        {% elif message.tags == "success" %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div class="text-center">
                            <button class="btn btn-primary px-4 shadow-none" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>-->

        <div class="row">
            <div class="col">
                <div class="bg-primary py-2">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="">INFORMACIÓN DE CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="bg-white shadow-md rounded h-100 p-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-map-marker-alt"></i></div>
                        <h3>Ubicación</h3>
                        <p>Vía Samborondón km 13.5
                            de la Avenida Miguel Yunez Zagia
                            (junto al centro de revisión técnica vehicular de Samborondón).
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="bg-white shadow-md rounded h-100 p-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-phone"></i> </div>
                        <h3>Teléfono</h3>
                        <p class="mb-0">(04) 3917791</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="bg-white shadow-md rounded h-100 p-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-envelope"></i> </div>
                        <h3>Correo</h3>
                        <p>info@atv.gob.ec</p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 mb-4">
                <div class="text-center py-5 px-2">
                    <div class="row">
                        <div class="col">
                            <div class="bg-primary py-2">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item">
                                        <a class="nav-link active text-white" href="">UBICACIÓN GEOGRÁFICA</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.291221747665!2d-79.85232958589647!3d-2.0393655985133026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d13f2bd91d743%3A0xcb4ed02b9bff7fef!2sAutoridad%20de%20transito%20samborondon!5e0!3m2!1ses-419!2sec!4v1606083754674!5m2!1ses-419!2sec"
                        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}