{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon.png'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap/bootstrap.min.css'%}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/font-awesome/css/all.min.css'%}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/stylesheet.css'%}" />
    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
        type='text/css'>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->

    <div id="main-wrapper" class="h-100">
        <div class="container-fluid px-0 h-100">
            <div class="row no-gutters h-100">
                <!-- Welcome Text
            ============================================= -->
                <div class="col-md-6">
                    <div class="hero-wrap d-flex align-items-center h-100">
                        <div class="hero-mask opacity-8 bg-primary"></div>
                        <div class="hero-bg hero-bg-scroll" style="background-image:url('./static/img/image-3.jpg');">
                        </div>
                        <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">

                            <div class="row no-gutters my-auto">
                                <div class="col-10 col-lg-9 mx-auto">
                                    <h1 class="text-11 text-white mb-4">Sistema de gestión de trámites</h1>
                                    <p class="text-4 text-white line-height-4 mb-5"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Welcome Text End -->

                <!-- SignUp Form
        ============================================= -->
                <div class="col-md-6 d-flex align-items-center">
                    <div class="container my-4">
                        <div class="row">
                            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                                <h3 class="font-weight-400 mb-4">Recuperar Contraseña</h3>
                                <form id="signupForm" method="post" action="{% url 'password_reset' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="emailAddress">Dirección de Correo Electrónico</label>
                                        <input type="email" class="form-control" id="emailAddress" required
                                            placeholder="Ingrese su correo electrónico" name="emailAddress">
                                    </div>
                                    <div class="form-group">
                                        <label for="loginPassword">Contraseña</label>
                                        <input type="password" class="form-control" id="loginPassword" required
                                            placeholder="Ingrese su contraseña" name="loginPassword"
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                            oninvalid="this.setCustomValidity('La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un carácter especial')"
                                            oninput="this.setCustomValidity('')">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Confirmar Contraseña</label>
                                        <input type="password" class="form-control" id="confirmPassword" required
                                            placeholder="Confirme su contraseña" name="confirmPassword"
                                            oninput="validarContraseña(this)">
                                    </div>
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                    {% elif message.tags == "success" %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    <button class="btn btn-primary btn-block my-4" type="submit">Confirmar</button>
                                </form>
                                <p class="text-3 text-center text-muted"><a class="btn-link" href="/">Iniciar Sesión</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SignUp Form End -->
            </div>
        </div>
    </div>

    <script>
        function validarContraseña(input) {
            var password = document.getElementById("loginPassword").value;
            if (input.value !== password) {
                input.setCustomValidity("Las contraseñas no coinciden");
            } else {
                input.setCustomValidity("");
            }
        }
    </script>

    <!-- Back to Top
      ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i
            class="fa fa-chevron-up"></i></a>
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
</body>

</html>