{% extends 'base.html' %}

{% block content %}

<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-5">
        <div class="row mt-5">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-10 mb-5"><u class="text-primary">Contáctanos!</u></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <h3 class="text-5 text-dark font-weight-400 mb-3">Envianos un correo</h3>
                <form method="post" action="{% url 'send_test_email' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" name="emailcorreo" class="form-control" id="emailAddress" required
                            placeholder="info@atv.gob.ec">
                    </div>
                    <div class="form-group">
                        <input type="text" name="asuntocorreo" class="form-control" id="subject" required
                            placeholder="Asunto">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="cuerpocorreo" id="body" required
                            placeholder="Cuerpo del correo"></textarea>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == "error" %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                    {% elif message.tags == "success" %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="text-center">
                        <button class="btn btn-primary px-4 shadow-none" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}