{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-primary">
  <div class="container d-flex justify-content-center">
    <ul class="nav secondary-nav">
      <li class="nav-item"> <a class="nav-link active" href="/settings-profile">CONFIGURACIÓN DE LA CUENTA</a></li>
    </ul>
  </div>
</div>
<!-- Edit Details Modal
    ================================== -->
<div id="content" class="py-4">
  <div class="container">
    <div class="row">

      <!-- Left Panel
          ============================================= -->
      <aside class="col-lg-3">

        <!-- Profile Details
            =============================== -->
        <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
          <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'img/profile-thumb.jpg' %}"
              alt="">
            <div class="profile-thumb-edit custom-file bg-primary text-white" data-toggle="tooltip"
              title="Change Profile Picture"> <i class="fas fa-camera position-absolute"></i>
              <input type="file" class="custom-file-input" id="customFile">
            </div>
          </div>
          <p class="text-3 font-weight-500 mb-2">Hello, {{ request.user.first_name }} {{ request.user.last_name }}</p>
        </div>
        <!-- Profile Details End -->

        <!-- Need Help?
            =============================== -->
        <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
          <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
          <h3 class="text-5 font-weight-400 my-4">¿Necesita Ayuda?</h3>
          <p class="text-muted opacity-8 mb-4">¿Tiene preguntas o inquietudes sobre tu cuenta?<br>
            Nuestros expertos están aquí para ayudarte!.</p>
          <a href="/info_contact" class="btn btn-primary btn-block">Contáctanos</a>
        </div>
        <!-- Need Help? End -->

      </aside>
      <!-- Left Panel End -->

      <!-- Middle Panel
          ============================================= -->
      <div class="col-lg-9">

        <!-- Personal Details
            ============================================= -->
          <div class="bg-white shadow-sm rounded p-4 mb-4"">
            <h3 class="text-5 font-weight-400 d-flex align-items-center mb-4">Información Personal<a
                href="#edit-personal-details" data-toggle="modal" class="ml-auto text-2 text-uppercase btn-link">
                <span class="mr-1"><i class="fas fa-edit"></i></span>Editar</a></h3>
            <hr class="mx-n4 mb-4">
            <div class="form-row align-items-center">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Tipo de Identificación:</p>
                <p class="col-sm-9 text-3">{{tipo_identificacion_name}}</p>
            </div>
            <div class="form-row align-items-center">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Identificación:</p>
                <p class="col-sm-9 text-3">{{identificacion}}</p>
            </div>
            <div class="form-row align-items-center">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Nombres Completos:</p>
              <p class="col-sm-9 text-3">{{ first_name }} {{ last_name }}</p>
            </div>
            <div class="form-row align-items-center">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Fecha de Nacimiento:</p>
                <p class="col-sm-9 text-3">{{fecha_nacimiento}}</p>
            </div>
            <div class="form-row align-items-center">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Dirección de Domicilio:</p>
                <p class="col-sm-9 text-3">{{direccion}}</p>
            </div>
            <div class="form-row align-items-center">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">País:</p>
                <p class="col-sm-9 text-3">{{pais}}</p>
            </div>
            <div class="form-row align-items-center">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Provincia:</p>
                <p class="col-sm-9 text-3">{{provincia}}</p>
            </div>
            <div class="form-row align-items-center">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Ciudad:</p>
                <p class="col-sm-9 text-3">{{ciudad}}</p>
            </div>
          </div>
          <!-- Edit Details Modal
            ================================== -->
          <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Detalle Personal</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span
                      aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="personaldetails" method="post" action="{% url 'update_profile' %}">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="tipoIdentificacion">Tipo Identificación</label>
                          <select class="custom-select" id="tipoIdentificacion" name="tipo_identificacion_id" required disabled>
                            <option value="{{ tipo_identificacion_profile.id }}">{{ tipo_identificacion_profile.descripcion }}</option>
                            {% for tipo in tipo_identificacion %}
                                <option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="identificacion">Identificación</label>
                          <input type="text" value="{{identificacion}}" class="form-control"
                            data-bv-field="identificacion" name ="identificacion" id="identificacion" required placeholder="Identificacion" readonly>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="firstName">Nombres</label>
                          <input type="text" value="{{ first_name }}" class="form-control" data-bv-field="firstName"
                            id="firstName" required placeholder="First Name" name = 'firstName' readonly>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="fullName">Apellidos</label>
                          <input type="text" value="{{ last_name }}" class="form-control" data-bv-field="lastName"
                            id="lastName" required placeholder="Last Name" name = 'lastName' readonly>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="birthDate">Fecha de Nacimiento</label>
                          <input id="birthDate" value="{{ fecha_nacimiento|date:'Y-m-d' }}" type="date"
                            class="form-control" name="birthDate" required>
                        </div>
                      </div>
                      <div class="col-12">
                        <h3 class="text-5 font-weight-400 mt-3">Dirección</h3>
                        <hr>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="address">Dirección</label>
                          <input type="text" value="{{direccion}}" class="form-control" data-bv-field="address"
                            id="address" required placeholder="Address 1" name="address">
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="inputCountry">País</label>
                          <select class="custom-select" id="inputCountry" name="pais_id" onchange="updateCities()" required>
                            <option value="">--- Seleccionar ---</option>
                            {% for pais in pais_descripcion %}
                            <option name = "pais_id" value="{{ pais.id }}" {% if pais_id == pais.id %}selected{% endif %}>{{ pais.descripcion }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="city">Provincia</label>
                          <select class="custom-select" id="inputCity" name="provincia_id" required>
                            <option value="">--- Seleccionar ---</option>
                            {% for provincia in provincia_descripcion %}
                            <option name = "provincia_id" value="{{ provincia.id }}" data-country-id="{{ provincia.pais.id }}" {% if provincia_id == provincia.id %}selected{% endif %}>{{ provincia.descripcion }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="ciudad">Ciudad</label>
                          <select class="custom-select" id="inputCanton" name="ciudad_id" required>
                            {% for ciudad in ciudad_descripcion %}
                            <option name = "" value="{{ ciudad.id }}" data-city-id="{{ ciudad.provincia.id }}" {% if ciudad_id == ciudad.id %}selected{% endif %}>{{ ciudad.descripcion }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block mt-2" type="submit">Guardar Cambios</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Personal Details End -->
          <script>
            function updateCities() {
              var selectedCountry = document.getElementById('inputCountry').value;
              var citySelect = document.getElementById('inputCity');
              var cities = citySelect.options;

              for (var i = 0; i < cities.length; i++) {
                var city = cities[i];
                if (city.getAttribute('data-country-id') == selectedCountry) {
                  city.style.display = 'block';
                } else {
                  city.style.display = 'none';
                }
              }
            }

            // Inicializa las ciudades para el país seleccionado al cargar la página
            document.addEventListener('DOMContentLoaded', function () {
              updateCities();
            });
          </script>

          <!-- Account Settings
            ============================================= -->
          <div class="bg-white shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400 d-flex align-items-center mb-4">Configuración de la cuenta</h3>
            <hr class="mx-n4 mb-4">
            <div class="form-row align-items-center">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Idioma:</p>
              <p class="col-sm-9 text-3">Español</p>
            </div>
            <div class="form-row align-items-center">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Zona horaria:</p>
              <p class="col-sm-9 text-3">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</p>
            </div>
            <div class="form-row align-items-center">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Estado de la cuenta:</p>
              <p class="col-sm-9 text-3"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i
                    class="fas fa-check-circle"></i> Activa</span></p>
            </div>
          </div>

          <!-- Email Addresses
            ============================================= -->
          <div class="bg-white shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400 d-flex align-items-center mb-4">Email<a href="#edit-email"
                data-toggle="modal" class="ml-auto text-2 text-uppercase btn-link"><span class="mr-1"><i
                    class="fas fa-edit"></i></span>Editar</a></h3>
            <hr class="mx-n4 mb-4">
            <div class="form-row align-items-center">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID:</p>
              <p class="col-sm-9 text-3">{{email}}<span
                  class="badge badge-info text-1 font-weight-500 rounded-pill px-2 py-1 ml-2">Primary</span></p>
            </div>
            <div class="form-row align-items-center">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID 2:</p>
              <p class="col-sm-9 text-3">{{email2}}</p>
            </div>
          </div>
          <!-- Edit Details Modal
            ================================== -->
          <div id="edit-email" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Email</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span
                      aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="emailAddresses" method="post" action="{% url 'update_profile_email' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="emailID">Email ID <span
                          class="badge badge-info text-1 font-weight-500 rounded-pill px-2 py-1 ml-1">Primary</span></label>
                      <input type="text" value="{{ email }}" class="form-control" data-bv-field="emailid" id="emailID"
                        required placeholder="Email ID" readonly>
                    </div>
                    <div class="form-group">
                      <label for="emailID2">Email ID 2 </label>
                      <div class="input-group">
                        <input type="email" value="{{ email2 }}" class="form-control" data-bv-field="emailid2" id="emailID2" 
                        placeholder="Email ID" name="email2">
                        <div class="input-group-append bg-transparent">
                          <a href="#" onclick="document.getElementById('emailID2').value = '';" data-toggle="tooltip"
                            data-original-title="Remove" class="input-group-text text-muted text-2"><i
                              class="fas fa-times"></i></a>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Guardar Cambios</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Email Addresses End -->

          <!-- Phone
            ============================================= -->
          <div class="bg-white shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400 d-flex align-items-center mb-4">Teléfono<a href="#edit-phone"
                data-toggle="modal" class="ml-auto text-2 text-uppercase btn-link"><span class="mr-1"><i
                    class="fas fa-edit"></i></span>Editar</a></h3>
            <hr class="mx-n4 mb-4">
            <div class="form-row align-items-center">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Teléfono 1:</p>
              <p class="col-sm-9 text-3 align-items-center d-flex">
                  {% for phone_number in codigo_celular %}
                      {{ phone_number.numero }}
                  {% endfor %}
                  {{ telefono1_numero }}<span class="badge badge-info text-1 font-weight-500 rounded-pill px-2 py-1 ml-2">Primary</span>
              </p>
          </div>
            <div class="form-row align-items-center">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Teléfono 2:</p>
              <p class="col-sm-9 text-3 align-items-center d-flex">
                {% for phone_number in codigo_celular %}
                    {{ phone_number.numero }}
                {% endfor %}
                {{ telefono2_numero }}
            </p>
            </div>
          </div>
          <!-- Edit Details Modal
            ================================== -->
          <div id="edit-phone" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Teléfono</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close" > <span
                      aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="phone" method="post" action="{% url 'update_profile_phone' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="mobileNumber">Teléfono 1 <span
                          class="badge badge-info text-1 font-weight-500 rounded-pill px-2 py-1 ml-1">Primary</span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <select class="custom-select" id="inputPhone" name="phone_number">
                            {% for phone_number in codigo_celular %}
                            <option value="{{ phone_number.number }}">{{ phone_number.numero }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <input type="text" name="phone1" value="{{ telefono1_numero }}" class="form-control" data-bv-field="mobilenumber"
                          id="mobileNumber" required placeholder="Mobile Number" pattern="[0-9]{9,9}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="mobileNumber2">Teléfono 2 </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <select class="custom-select" id="inputPhone" name="phone_number">
                            {% for phone_number in codigo_celular %}
                            <option value="{{ phone_number.number }}">{{ phone_number.numero }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <input type="text" name="phone2" value="{{ telefono2_numero }}" class="form-control" data-bv-field="mobilenumber2"
                          id="mobileNumber2" required placeholder="Mobile Number" pattern="[0-9]{9,9}">
                        <div class="input-group-append bg-transparent">
                          <a href="#" onclick="document.getElementById('mobileNumber2').value = '';"
                            data-toggle="tooltip" data-original-title="Remove"
                            class="input-group-text text-muted text-2"><i class="fas fa-times"></i></a>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Guardar Cambios</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Phone End -->
        <!-- Middle Panel End -->
      </div>
    </div>
  </div>
  <!-- Content end -->
  <!-- Carga jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Carga el script personalizado -->
<script>
  $(document).ready(function() {
  // Función para resetear el formulario de un modal
  function resetModalForm(modalId) {
    $(modalId).on('hidden.bs.modal', function() {
      $(this).find('form')[0].reset();
    });
  }

  // Aplicar la función a los modales
  resetModalForm('#edit-phone');
  resetModalForm('#edit-email');
  resetModalForm('#edit-personal-details');

});
</script>
  {% endblock %}