{% extends 'base.html' %}
{% block content %}

<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-1">        
        <div class="col-lg-10 mx-auto">
            <h2 class="text-10 mb-5"><u class="text-primary">Horarios Actividades</u></h2>
        </div>        
        <div>
            <a href="{% url 'actividad_horario_nuevo' %}" class="btn btn-success mb-3" style=" float: left; ">Nuevo</a>
            <table id="actividadesTable" class="display">
                <thead>
                    <tr >
                        <th>Actividad</th>                        
                        <th>Estado Actividad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for actividad in actividades %}
                    <tr data-id="{{ actividad.actividad__id }}">
                        <td>{{ actividad.actividad__nombre }}</td>                        
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input estado-switch" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if actividad.actividad__estado == 'A' %}checked{% endif %}>
                            </div>                            
                        </td>
                        <td>
                            <a href="{% url 'actividad_horario_editar' id=actividad.actividad__id %}" class="btn btn-success mb-3" style=" float: left; ">Editar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay horarios disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}
{% block js %}
<script>     
$(document).ready(function() {
    
    $('.estado-switch').on('change', function() {
        var $row = $(this).closest('tr');
        var id = $row.data('id');
        var estado = $(this).is(':checked') ? 'A' : 'I';

        $.ajax({
            url: "{% url 'actividad_actualizar_estado' %}",
            type: 'POST',
            data: {
                'id': id,
                'estado': estado,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    // Mostrar un mensaje de éxito con SweetAlert2
                    Swal.fire({
                        icon: 'success',
                        title: 'Estado actualizado',
                        text: 'El estado se ha actualizado correctamente.',
                        position: 'bottom-center',
                        showConfirmButton: false,
                        timer: 2000
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: response.error,
                        position: 'bottom-center',
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error('Error en la solicitud:', status, error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Hubo un problema al actualizar el estado.',
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 2000
                });
            }
        });
    });

    $('#actividadesTable').DataTable({
        // Opcional: personalización adicional
        "paging": true,
        "searching": true,
        "ordering": true
    });
});
</script>
{% endblock %}
