{% extends 'base.html' %}

{% block content %}
<style>
    .small-padding-card {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .small-padding-table td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .small-padding-table th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #e9e9e9;
    }
</style>

<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-1">
        <div class="col-lg-10 mx-auto">
            <h2 class="text-10 mb-5"><u class="text-primary">Nuevo Horario</u></h2>
        </div>
        <div class="col-md-12">            
            <form id="actividades-form">
                <div class="row justify-content-md-center">
                    {% if actividades %}
                        <div class="col-md-auto">
                            <label for="actividad" class="sr-only">Seleccionar Actividad:</label>
                            <select id="actividad" name="actividad" class="form-control" {% if actividad_id %}disabled{% endif %}>
                                <option value="">Seleccione una actividad</option>
                                {% for actividad in actividades %}
                                <option value="{{ actividad.id }}" {% if actividad.id == actividad_id %}selected{% endif %}>{{ actividad.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <button type="button" class="btn btn-primary" id="buscar-horarios" {% if actividad_id %}disabled{% endif %}>Buscar Horarios</button>
                        </div>
                    {% else %}
                        <div class="card">
                            <div class="card-body small-padding-card">
                               No existen Actividades sin Horarios.
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
            </form>
        </div>
        <br><br>        
        <div id="horarios-div" {% if not actividad_id %}class="d-none"{% endif %} >
            <div class="card">
                <div class="card-body small-padding-card">
                    Considerar que los horarios son de 1 hora.
                </div>
                <div id="message" class="alert alert-success mt-3" style="display: none;"></div>
            </div>
            <br>
            <form id="horarios-form">
                <table id="horarios-table" class="table table-bordered table-striped small-padding-table">
                    <thead>
                        <tr>
                            <th>Horario</th>
                            {% for dia in dias %}
                            <th>{{ dia.nombre }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>         
                        {% if actividad_horarios %}                                      
                            {% for horario in actividad_horarios %}
                            <tr>
                                <td>{{ horario.hora }}</td>
                                {% for dia in horario.horariosDias %}
                                    <td><input type="checkbox" name="horarios[{{ dia.diaId }}][{{ horario.horaId }}]" {% if dia.estado == "A" %}checked{% endif %}  >
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        {% else %}                                        
                            {% for hora in horas %}
                            <tr>
                                <td>{{ hora.hora }}</td>
                                {% for dia in dias %}
                                <td>
                                    <input type="checkbox" name="horarios[{{ dia.id }}][{{ hora.id }}]">
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}                        
                        {% endif %}
                    </tbody>                    
                </table>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>            
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#buscar-horarios').on('click', function () {
            var actividadId = $('#actividad').val();
            if (!actividadId) {
                Swal.fire('Error', 'Por favor, seleccione una actividad.', 'error');
                return;
            }
            
            $.ajax({
                url: '{% url "actividad_horario_consultar" %}',
                type: 'GET',
                data: { 'actividad_id': actividadId },
                success: function (response) {
                    if (response && response.length > 0) {
                        $('#horarios-div').removeClass('d-none');
                    } else {
                        $('#horarios-div').addClass('d-none');
                        Swal.fire('Advertencia', 'No se encontraron horarios para esta actividad.', 'warning');
                    }
                    
                },
                error: function (xhr, status, error) {
                    console.error('Error en la solicitud:', status, error);
                    Swal.fire('Error', 'Hubo un problema al cargar los horarios.', 'error');
                }
            });
        });

        $('#horarios-form').on('submit', function (event) {
            event.preventDefault();

            var selectedHorarios = {};
            $('input[type="checkbox"]:checked').each(function () {
                var name = $(this).attr('name');
                selectedHorarios[name] = true;
            });

            console.log(selectedHorarios);

            $.ajax({
                url: '{% url "actividad_horario_guardar" %}', // Asegúrate de tener esta URL definida en tus urls.py
                type: 'POST',
                data: {
                    'selectedHorarios': JSON.stringify(selectedHorarios),
                    'actividadId':$('#actividad').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response)
                    if (response.success) {
                    // Mostrar un mensaje de éxito con SweetAlert2
                        Swal.fire({
                            icon: 'success',
                            title: 'Estado actualizado',
                            text: 'Horarios guardados exitosamente.',
                            position: 'bottom-center',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.error,
                            position: 'bottom-center',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                    $('#message').text('Horarios guardados exitosamente').show();
                },
                error: function (xhr, status, error) {
                    console.error('Error al guardar los horarios:', status, error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al guardar los horarios.',
                        position: 'bottom-end',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    $('#message').text('Error al guardar los horarios').show().addClass('alert-danger').removeClass('alert-success');
                }
            });
        });
    });
</script>

    
{% endblock %}
