{% extends 'base.html' %}
{% block content %}
<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-10 mb-4 text-center">Socios y Vehículos</h2>
            </div>
        </div>
        <div >
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Acción
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'socios_vehiculos_nuevo' tipo='vinculacion' %}">VINCULACIÓN</a>
                  <a class="dropdown-item" href="{% url 'socios_vehiculos_nuevo' tipo='desvinculacion' %}">DESVINCULACIÓN</a>                  
                </div>
              </div>                              
        </div>
        <div>
            <table id="sociosVehiculosTable" class="display">
                <thead>
                    <tr>
                        <th># Solicitud</th> 
                        <th>Tipo</th>  
                        <th>Fecha</th>                      
                        <th>Estado</th>     
                    </tr>
                </thead>
                <tbody>
                    {% for tramite in tramiteSociosVehiculos %}
                    <tr data-id="{{ tramite.id }}">
                        <td>{{ tramite.id  }}</td> 
                        <td>{{ tramite.tipo_tramite_socio_vehiculo | upper }}</td>  
                        <td>{{ tramite.fecha |date:"d-m-Y H:i" }}</td>                      
                        <td>
                            {% for value, text in estados %}
                                {% if value == tramite.estado %}
                                    {{ text }}
                                {% endif %}
                            {% endfor %}
                        </td>  
                    </tr>
                    {% empty %}
                    {% endfor %}
                </tbody>
            </table>
        </div>               
       
    </div>    
</section>

{% endblock %}
{% block js %}

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script>  
    function nextStep(step) {
        var tabTrigger = new bootstrap.Tab(document.querySelector('#step' + step + '-tab'));
        tabTrigger.show();
    }   
    jQuery(document).ready(function() {
       
            
        $('#sociosVehiculosTable').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "dom": 'Bftlipr',
                "deferRender": true,
                "buttons": [
                {
                    "extend": 'excel',
                    "text": 'Exportar a Excel',
                    "className": 'btn btn-sm btn-primary'
                }
            ]
        });
    });
</script>
{% endblock %}
