{% extends 'base.html' %}
{% block content %}

<style>
    .list-group-item {
      text-align: left; /* Alineación a la izquierda */
    }
    .step-card {
        display: none;
    }
    .step-card.active {
        display: block;
    }

    .list-group-item.disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    .btn:disabled {
        background-color: #d6d6d6; 
        border-color: #d6d6d6; 
        color: #6c757d;
    }

    .btn-download-custom {
      background-color: #2259ef; 
      border-color: #0f1f49; 
    }    
    .btn-download-custom i {
      color: #ffffff; 
    }
    .btn-download-custom:hover {
      background-color: #112e7d; 
      border-color: #112e7d; 
    }

    .btn-upload-custom {
      background-color: #37c996; 
      border-color: rgb(6, 110, 74); 
    }    
    .btn-upload-custom i {
      color: #ffffff; 
    }
    .btn-upload-custom:hover {
      background-color: #027b51;
      border-color: #027b51; 
    }

    .btn-info-custom {
      background-color: #17a2b8; 
      border-color: #17a2b8; 
    }
    .btn-info-custom i {
      color: #ffffff; 
    }
    .btn-info-custom:hover {
      background-color: #138496;
      border-color: #117a8b; 
    }
   
    .nombre-requisito {
        text-align: left;
    }

  </style>
  
<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-10 mb-4 text-center">Socios y Vehículos</h2>
                <h5 class="text-10 mb-5"><u class="text-primary">{{ tipo }}</u></h5>  
            </div>
        </div>
        <div>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" id="mi-progress-bar" style="width: 0%;">0%</div>
            </div>
        </div>
        <br><br>        
        <form id="multiStepForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">                    
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Pasos</h5>
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="#" id="stepLink1" class="list-group-item list-group-item-action" onclick="showStep(1)" >1. Datos Organización</a>
                            <a href="#" id="stepLink2" class="list-group-item list-group-item-action disabled" onclick="showStep(2)" >2. Requisitos</a> 
                            <a href="#" id="stepLink3" class="list-group-item list-group-item-action disabled" onclick="showStep(4)" >3. Enviar Solicitud</a>                            
                        </div>
                    </div>
                </div>
    
                <div class="col-md-9">
                    <div class="card step-card" id="step1">
                        <div class="card-header">
                            1. Datos Organización
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <div class="form-group">
                                        <label for="organizacion" class="col-form-label">Nombre de la Organización o Razón Social:</label>
                                        <input type="text" name="organizacion" class="form-control" id="organizacion" value="{{ usuarioAutentificado.apellidos }}  {{ usuarioAutentificado.nombres }}" onchange="validateStep1()" placeholder="Ingrese el nombre de la Organización o Razón Social" readonly>
                                      </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                        <label for="ruc" class="col-form-label">RUC:</label>
                                        <input type="text" name="ruc" maxlength="10" class="form-control" id="ruc" value="{{ usuarioAutentificado.identificacion }}" onchange="validateStep1()" title="Debe tener mínimo 10 caracteres" placeholder="Ingrese el RUC" readonly>
                                        <p id="error" style="color: red;"></p>
                                      </div>
                                </div>
                            
                            <div class="row mt-4">
                              <div class="form-group col-12">
                                <label for="tipo_organizacion" class="col-form-label">Tipo de Organización:</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-check col-lg-6">
                                <input class="form-check-input" type="radio" name="tipo_organizacion" id="opcion1" value="compania" onchange="validateStep1()">
                                <label class="form-check-label" for="opcion1">
                                  Compañia
                                </label>
                              </div>
                              <div class="form-check col-lg-6">
                                <input class="form-check-input" type="radio" name="tipo_organizacion" id="opcion2" value="cooperativa" onchange="validateStep1()">
                                <label class="form-check-label" for="opcion2">
                                  Cooperativa
                                </label>
                              </div>
                            </div>
                          </div>                     
                        <div class="card-footer text-end">
                            <button type="button" class="btn btn-primary" id="btnSiguienteStep1" name="btnSiguienteStep1"  onclick="nextStep1()" disabled>Siguiente</button>
                        </div>
                    </div>    
                    <div class="card step-card" id="step2">
                        <div class="card-header">
                            2. Requisitos
                        </div>
                        <div class="card-body">                           
                            <div >
                                <table id="tabla-requisitos" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>                                            
                                            <th class="col-5">Requisitos</th>
                                            <th class="col-4">Adjuntos</th>
                                            <td class="col-2">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for requisito in requisitosTramites%}
                                        <tr data-requisito-id="{{ requisito.id }}">  
                                            <td>
                                                <div class="row">
                                                    <div class="col-12 nombre-requisito">
                                                        {{ requisito.nombre }} 
                                                    </div>                                                    
                                                </div>                                                
                                            </td> 
                                            
                                            <td>
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <input type="file" class="form-control-file subir-archivo" />        
                                                    </div>                                                     
                                                </div>                                               
                                            </td>          
                                            <td>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <button type="button"  class="btn-upload-custom" onclick="subir_btn( '{{ requisito.id }}' )" title="Subir Archivo"><i class="fa-solid fa-upload"></i></button>
                                                    </div> 
                                                    <div class="col-4" id="archivo_{{ requisito.id }}">                                                        
                                                    </div> 
                                                    <div class="col-4" id="estadoArchivo_{{ requisito.id }}">                                                        
                                                    </div>
                                                </div>                                                  
                                            </td>                                                                          
                                        </tr> 
                                        {% endfor %}                                                                               
                                    </tbody>
                                </table>
                            </div>  
                        </div>
                        <div class="card-footer text-end"">
                            <button type="button" class="btn btn-primary" onclick="nextStep2()" id="btnSiguienteStep2" name="btnSiguienteStep2" disabled>Siguiente</button>
                        </div>
                    </div>
    
                    <div class="card step-card" id="step3">
                        <div class="card-header">
                            3. Enviar Solicitud
                        </div>
                        <div class="card-body">
                            <div class="alert alert-warning mt-4">
                                <strong>NOTA:</strong> El peticionario es el único responsable del origen de las firmas y documentos ingresados para el trámite correspondiente. El GAD se reserva el derecho de iniciar la acción legal pertinente, en caso de que se detecte cualquier adulteración en los documentos.
                            </div>
                        </div>
                        <div class="card-footer text-end"">
                            <button type="submit" class="btn btn-success" id="btnSiguienteStep3" onclick="nextStep3()" name="btnSiguienteStep3">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="tramite_id">
            <input type="hidden" id="numeroRequisitos" value="{{ numeroRequisitos }}" >            
            <input type="hidden" id="tipoTramiteSocioVehiculo" value="{{ tipoTramiteSocioVehiculo }}" >            
        </form>
    </div>   
    
    <!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="descripcionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Descripción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalDescripcion"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
  
</section>

{% endblock %}
{% block js %}
<script>  
    document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();  // Previene la acción por defecto de la tecla Enter
            }
    });
    
    let currentStep = 1;
    let requisitosIngresados = 0;
    function avanzarPorcentaje() {                       
        const progressBar = document.getElementById('mi-progress-bar');
        let valorActual = parseInt(progressBar.style.width, 10);    
        valorActual += 33;

        // Asegurarse de que el valor no exceda el 100%
        if (valorActual > 100) {
            valorActual = 100;
        }

        // Actualizar el ancho y el texto de la barra de progreso
        progressBar.style.width = valorActual + '%';
        progressBar.textContent = valorActual + '%';

        // Actualizar los atributos aria
        progressBar.parentElement.setAttribute('aria-valuenow', valorActual)       
    }

    function showStep(stepNumber) {
        // Ocultar todos los pasos
        var steps = document.querySelectorAll('.step-card');
        steps.forEach(function(step) {
            step.classList.remove('active');
        });

        // Mostrar el paso actual
        var currentStepElement = document.getElementById('step' + stepNumber);
        currentStepElement.classList.add('active');

        // Actualizar el estado actual
        currentStep = stepNumber;

        // Actualizar enlaces de pasos
        //updateStep();       

        // Marcar el enlace del paso como activo
        var stepLinks = document.querySelectorAll('.list-group-item');
        stepLinks.forEach(function(link) {
            link.classList.remove('active');
        });
        stepLinks[stepNumber - 1].classList.add('active');
        
    }

    function nextStep1() {
        if(currentStep == 1){
            crearTramite1();
        }

        if (currentStep < 4) {
            avanzarPorcentaje();
            showStep(currentStep + 1);            
        } 
        
    }

    function nextStep2(){
        if(currentStep == 1){
            crearTramite2();
        }

        if (currentStep < 4) {
            avanzarPorcentaje();
            showStep(currentStep + 1);            
        } 
        
    }

    function nextStep3() {
        if(currentStep == 1){
            crearTramite3();
        }

        if (currentStep < 4) {
            avanzarPorcentaje();
            showStep(currentStep + 1);            
        } 
        
    }

    function prevStep() {
        if (currentStep > 1) {
            showStep(currentStep - 1);
        }
    }

    function updateStep() {
        const step2 = document.getElementById('stepLink2');
        const step3 = document.getElementById('stepLink3');
        if (currentStep >= 1 && validateStep1()) {
            step2.classList.remove('disabled');
        }
        if (currentStep >= 3 && validateStep2()) {
            step3.classList.remove('disabled');
        }
    }

    function validateStep1() {           
        const step2 = document.getElementById('stepLink2');
        const organizacion = document.getElementById('organizacion').value.trim();
        const ruc = document.getElementById('ruc').value.trim();
        const tipoOrganizacion = document.querySelector('input[name="tipo_organizacion"]:checked');        
        const nextButton = document.getElementById('btnSiguienteStep1');
        var error = document.getElementById('error');

        if (ruc.length !== 10) {
            error.textContent = 'El campo debe tener exactamente 13 caracteres.';            
            return false;
        } else {
            error.textContent = ''; // Limpia el mensaje de error si la validación es exitosa
        }
        // Validar que los campos no estén vacíos y se haya seleccionado un tipo de organización
        if (organizacion && ruc && tipoOrganizacion) {            
            step2.classList.remove('disabled');
            nextButton.disabled = false; // Habilitar el botón
            return false;
        } else {
            step2.classList.add('disabled');
            nextButton.disabled = true;
            return true; 
        }        
    }


    showStep(1);

    function crearTramite1() {
        // Obtén el valor del tipo de trámite socio vehículo
        var tipoTramiteSocioVehiculo = document.getElementById('tipoTramiteSocioVehiculo').value;

        // Obtén los valores de los campos del formulario
        const organizacion = document.getElementById('organizacion').value.trim();
        const ruc = document.getElementById('ruc').value.trim();
        const tipoOrganizacion = document.querySelector('input[name="tipo_organizacion"]:checked');

        // Asegúrate de que tipoOrganizacion no sea null antes de acceder a su valor
        const tipoOrganizacionValue = tipoOrganizacion ? tipoOrganizacion.value : null;

        // Crea el objeto cabecera
        const cabecera = {
            organizacion: organizacion,
            ruc: ruc,
            tipo_organizacion: tipoOrganizacionValue
        };

        // Convierte el objeto a JSON
        const cabeceraJSON = JSON.stringify(cabecera);

        // Crea el FormData
        var formData = new FormData();
        formData.append('tipoTramiteSocioVehiculo', tipoTramiteSocioVehiculo);
        formData.append('cabecera', cabeceraJSON); // Usa 'cabecera' en lugar de 'cabeceraJSON'
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); // Asegúrate de que el token CSRF esté correcto

        // Verifica si el campo tramite_id está vacío
        if (!document.getElementById('tramite_id').value) {
            $.ajax({
                url: '{% url "crearTramiteSocioVehiculo" %}', // Asegúrate de que la URL esté correcta
                type: 'POST',
                data: formData,
                contentType: false, // Necesario para enviar FormData
                processData: false, // Necesario para evitar que jQuery procese el FormData
                dataType: 'json',
                success: function(data) {
                    if (data.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.error,
                        });
                    } else {
                        document.getElementById('tramite_id').value = data.tramite_id;
                        
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error en la solicitud',
                        text: 'Hubo un problema al realizar la solicitud.',
                    });
                }
            });
        }
    }

    function crearTramite2() {
        // Obtén el valor del tipo de trámite socio vehículo
        var tipoTramiteSocioVehiculo = document.getElementById('tipoTramiteSocioVehiculo').value;

        // Obtén los valores de los campos del formulario
        const organizacion = document.getElementById('organizacion').value.trim();
        const ruc = document.getElementById('ruc').value.trim();
        const tipoOrganizacion = document.querySelector('input[name="tipo_organizacion"]:checked');

        // Asegúrate de que tipoOrganizacion no sea null antes de acceder a su valor
        const tipoOrganizacionValue = tipoOrganizacion ? tipoOrganizacion.value : null;

        // Crea el objeto cabecera
        const cabecera = {
            organizacion: organizacion,
            ruc: ruc,
            tipo_organizacion: tipoOrganizacionValue
        };

        // Convierte el objeto a JSON
        const cabeceraJSON = JSON.stringify(cabecera);

        // Crea el FormData
        var formData = new FormData();
        formData.append('tipoTramiteSocioVehiculo', tipoTramiteSocioVehiculo);
        formData.append('cabecera', cabeceraJSON); // Usa 'cabecera' en lugar de 'cabeceraJSON'
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); // Asegúrate de que el token CSRF esté correcto

        // Verifica si el campo tramite_id está vacío
        if (!document.getElementById('tramite_id').value) {
            $.ajax({
                url: '{% url "crearTramiteSocioVehiculo" %}', // Asegúrate de que la URL esté correcta
                type: 'POST',
                data: formData,
                contentType: false, // Necesario para enviar FormData
                processData: false, // Necesario para evitar que jQuery procese el FormData
                dataType: 'json',
                success: function(data) {
                    if (data.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.error,
                        });
                    } else {
                        document.getElementById('tramite_id').value = data.tramite_id;
                        Swal.fire({
                            icon: 'success',
                            title: 'Documento Cargado Correctamente',
                            text: ``,
                        });
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error en la solicitud',
                        text: 'Hubo un problema al realizar la solicitud.',
                    });
                }
            });
        }
    }

    function crearTramite3() {
        // Obtén el valor del tipo de trámite socio vehículo
        var tipoTramiteSocioVehiculo = document.getElementById('tipoTramiteSocioVehiculo').value;

        // Obtén los valores de los campos del formulario
        const organizacion = document.getElementById('organizacion').value.trim();
        const ruc = document.getElementById('ruc').value.trim();
        const tipoOrganizacion = document.querySelector('input[name="tipo_organizacion"]:checked');

        // Asegúrate de que tipoOrganizacion no sea null antes de acceder a su valor
        const tipoOrganizacionValue = tipoOrganizacion ? tipoOrganizacion.value : null;

        // Crea el objeto cabecera
        const cabecera = {
            organizacion: organizacion,
            ruc: ruc,
            tipo_organizacion: tipoOrganizacionValue
        };

        // Convierte el objeto a JSON
        const cabeceraJSON = JSON.stringify(cabecera);

        // Crea el FormData
        var formData = new FormData();
        formData.append('tipoTramiteSocioVehiculo', tipoTramiteSocioVehiculo);
        formData.append('cabecera', cabeceraJSON); // Usa 'cabecera' en lugar de 'cabeceraJSON'
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); // Asegúrate de que el token CSRF esté correcto

        // Verifica si el campo tramite_id está vacío
        if (!document.getElementById('tramite_id').value) {
            $.ajax({
                url: '{% url "crearTramiteSocioVehiculo" %}', // Asegúrate de que la URL esté correcta
                type: 'POST',
                data: formData,
                contentType: false, // Necesario para enviar FormData
                processData: false, // Necesario para evitar que jQuery procese el FormData
                dataType: 'json',
                success: function(data) {
                    if (data.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.error,
                        });
                    } else {
                        document.getElementById('tramite_id').value = data.tramite_id;
                        Swal.fire({
                            icon: 'success',
                            title: 'Trámite creado',
                            text: `Trámite ID: ${data.tramite_id}`,
                        });
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error en la solicitud',
                        text: 'Hubo un problema al realizar la solicitud.',
                    });
                }
            });
        }
    }
    

    function subir_btn(requisitoId){        
    var row = document.querySelector('tr[data-requisito-id="' + requisitoId + '"]');
    var archivoInput = row.querySelector('.subir-archivo');

    var archivo = archivoInput.files[0];
    var tramiteId = document.getElementById('tramite_id').value;
    var numeroRequisitos = document.getElementById('numeroRequisitos').value;          
    
    var tipoTramiteSocioVehiculo = document.getElementById('tipoTramiteSocioVehiculo').value; // Agrega esta línea

    if (!archivo) {
        Swal.fire({
            icon: 'warning',
            title: 'Advertencia',
            text: 'Debe seleccionar un Archivo.',
        });
        return;
    }

    var formData = new FormData();
    formData.append('archivos', archivo);
    formData.append('requisitoId', requisitoId);
    formData.append('tramiteId', tramiteId);
    formData.append('tipoTramiteSocioVehiculo', tipoTramiteSocioVehiculo);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');                

    $.ajax({
        url: `{% url 'subir_archivo' %}`,
        type: 'POST',                    
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
            console.log(response, 'response')
            console.log('archivo_'+requisitoId, 'response')
            if (response.success) {
                mostrarIcono(true,'estadoArchivo_'+requisitoId);
                mostrarDocumentoDescargable(response.data.ruta,'archivo_'+requisitoId)
                requisitosIngresados = requisitosIngresados +1;
                console.log(requisitosIngresados,'requisitosIngresados')
                console.log(numeroRequisitos,'numeroRequisitos')
                if(requisitosIngresados == numeroRequisitos){
                    const step2 = document.getElementById('stepLink3');
                    const nextButton = document.getElementById('btnSiguienteStep2');
                    step2.classList.remove('disabled');
                    nextButton.disabled = false;                                 
                }
                Swal.fire({
                    icon: 'success',
                    title: 'Trámite ',
                    text: `Archivo subido correctamente`,
                });                            
            } else {
                mostrarIcono(false);
                Swal.fire({
                    icon: 'error',
                    title: 'Error en la solicitud',
                    text: 'Error: ' + response.message,
                });
            }
        },
        error: function() {
            alert('Error al subir el archivo.');
        }
    });     
}

    function mostrarDescripcion(descripcion) {        
        document.getElementById('modalDescripcion').innerText = descripcion;
    }

    function mostrarIcono(esCorrecto,nombreDiv) {
        console.log(nombreDiv)
        var div = document.getElementById(nombreDiv);
        if (esCorrecto) {
            div.innerHTML = '<i class="fa-solid fa-check text-success"></i>';
        } else {
            div.innerHTML = '<i class="fa-solid fa-xmark text-danger"></i>';
        }
    }
    
    function mostrarDocumentoDescargable(ruta,nombreDiv) {
        var div = document.getElementById(nombreDiv);
        div.innerHTML = '<a href="' + ruta + '" download="documento" class="btn-download-custom" title="Desacargar Archvio"><i class="fa-solid fa-download"></i></a>';
    }

    $('#multiStepForm').on('submit', function(e) {
        e.preventDefault(); // Prevenir el envío del formulario por defecto

        var formData = $(this).serializeArray();
        var tramiteId = document.getElementById('tramite_id').value;
        formData.push({ name: 'tramiteId', value: tramiteId });

        $.ajax({
            type: 'POST',
            url: `{% url 'socios_vehiculos_solicitar' %}`, // Asegúrate de que la URL sea correcta
            data: $.param(formData),
            success: function(response) {
                if (response.status === 'success') {
                    // Muestra un mensaje de SweetAlert
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito',
                        text: response.message
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Redirige a la vista index
                            window.location.href = response.redirect_url;
                        }
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: response.message
                    });
                }
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Hubo un problema con la solicitud.'
                });
            }
        });
    });

</script>
{% endblock %}
