{% extends 'base.html' %}

{% block content %}

<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-10 mb-4 text-center">Permiso de Circulación</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 mx-auto text-center">
                <a href="{% url 'permiso_circulacion_nuevo' %}" class="btn btn-success mb-3">Nuevo</a>
            </div>
        </div>
        <div id="permisosCirculacionTabla-div" class="mt-4">
            <table id="actividadesTable" class="display w-100 mx-auto table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Solicitud</th>
                        <th>Identificación</th>
                        <th>Placa</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for permiso in permisos_circulacion %}
                    <tr data-id="{{ permiso.tramite.solicitud_atv }}">
                        <td>{{ permiso.tramite.solicitud_atv }}</td>
                        <td>{{ permiso.identificacion }}</td>
                        <td>{{ permiso.tramite.placa }}</td>
                        <td>
                            {% for value, text in estados %}
                                {% if value == permiso.tramite.estado %}
                                    {{ text }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if permiso.tramite.estado == 'AP' %}
                            <a href="{% url 'descargar_pdf' permiso.tramite.id %}" target="_blank">Ver PDF</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay Solicitudes disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}
{% block js %}

<!-- DataTables Buttons CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script>     
jQuery(document).ready(function() {
    
    $('.estado-switch').on('change', function() {
        var $row = $(this).closest('tr');
        var id = $row.data('id');
        var estado = $(this).is(':checked') ? 'A' : 'I';

        $.ajax({
            url: "{% url 'actividad_actualizar_estado' %}",
            type: 'POST',
            data: {
                'id': id,
                'estado': estado,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    // Mostrar un mensaje de éxito con SweetAlert2
                    Swal.fire({
                        icon: 'success',
                        title: 'Estado actualizado',
                        text: 'El estado se ha actualizado correctamente.',
                        position: 'bottom-center',
                        showConfirmButton: false,
                        timer: 2000
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: response.error,
                        position: 'bottom-center',
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error('Error en la solicitud:', status, error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Hubo un problema al actualizar el estado.',
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 2000
                });
            }
        });
    });

    $('#actividadesTable').DataTable({
        "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "dom": 'Bftlipr',
                "deferRender": true,
                "buttons": [
                {
                    "extend": 'excel',
                    "text": 'Exportar a Excel',
                    "className": 'btn btn-sm btn-primary'
                }
            ]
    });
});
</script>
{% endblock %}
