{% extends 'base.html' %}
{% block content %}

<style>
    .list-group-item {
      text-align: left; /* Alineación a la izquierda */
    }
    .step-card {
        display: none;
    }
    .step-card.active {
        display: block;
    }

    .list-group-item.disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    .btn:disabled {
        background-color: #d6d6d6; 
        border-color: #d6d6d6; 
        color: #6c757d;
    }

    .btn-download-custom {
      background-color: #2259ef; 
      border-color: #0f1f49; 
    }    
    .btn-download-custom i {
      color: #ffffff; 
    }
    .btn-download-custom:hover {
      background-color: #112e7d; 
      border-color: #112e7d; 
    }

    .btn-upload-custom {
      background-color: #37c996; 
      border-color: rgb(6, 110, 74); 
    }    
    .btn-upload-custom i {
      color: #ffffff; 
    }
    .btn-upload-custom:hover {
      background-color: #027b51;
      border-color: #027b51; 
    }

    .btn-info-custom {
      background-color: #17a2b8; 
      border-color: #17a2b8; 
    }
    .btn-info-custom i {
      color: #ffffff; 
    }
    .btn-info-custom:hover {
      background-color: #138496;
      border-color: #117a8b; 
    }
   
    .nombre-requisito {
        text-align: left;
    }

  </style>
  
<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-10 mb-4 text-center">Solicitud Permiso de Circulación</h2>
            </div>
        </div>
        <div>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" id="mi-progress-bar" style="width: 0%;">0%</div>
            </div>
        </div>
        <br><br>        
        <form id="multiStepForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">                    
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Pasos</h5>
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="#" id="stepLink1" class="list-group-item list-group-item-action" onclick="showStep(1)" >1. Requisitos</a>
                            <a href="#" id="stepLink2" class="list-group-item list-group-item-action" onclick="showStep(2)" >2. Datos Solicitud </a> 
                            <a href="#" id="stepLink3" class="list-group-item list-group-item-action disabled" onclick="showStep(4)" >3. Enviar Solicitud</a>                            
                        </div>
                    </div>
                </div>
    
                <div class="col-md-9">
                    <div class="card step-card" id="step1">
                        <div class="card-header">
                            1. Requisitos
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush text-left">
                                <li class="list-group-item ">Tomar en consideración que se validará:</li>
                                <li class="list-group-item list-group-item-info"><span class="font-weight-bold">Matrícula de Vehículo al día</span></li>
                                <li class="list-group-item list-group-item-info"><span class="font-weight-bold">Declaracion del SRI al día</span></li>
                                <li class="list-group-item list-group-item-info"><span class="font-weight-bold">Pago de todos los valores pendientes</span></li>
                            </ul>
                        </div>                     
                        <div class="card-footer text-end">
                            <button type="button" class="btn btn-primary" id="btnSiguienteStep1" name="btnSiguienteStep1"  onclick="nextStep()">Siguiente</button>
                        </div>
                    </div>    
                    <div class="card step-card" id="step2">
                        <div class="card-header">
                          2. Información del usuario
                        </div>
                        <div class="card-body">
                          <form>
                            <div class="row">
                              <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                  <label for="matricula" class="col-form-label">Placa:</label>
                                  <input type="text" name="matricula" class="form-control" id="matricula" required maxlength="10" placeholder="Ingrese número de matrícula">
                                  <div id="error-message-matricula" class="text-danger"></div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                  <label for="identificacion" class="col-form-label">Identificación:</label>
                                  <input type="text" name="identificacion" class="form-control" id="identificacion" required maxlength="13" placeholder="Ingrese identificación de identificacion">
                                  <div id="error-message-identificacion" class="text-danger"></div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                  <label for="tonelaje" class="col-form-label">Tonelaje:</label>
                                  <input type="text" name="tonelaje" class="form-control" id="tonelaje" required placeholder="Ingrese el tonelaje del vehículo">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 offset-md-3">
                                <div id="mensaje-validacion" class="text-danger"></div>
                                <input type="hidden" name="tonelajeRequerido" id="tonelajeRequerido" value="{{ valor_tonelaje_requerido }}">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 offset-md-3">
                                <div id="resultado" class="">
                                  <div class="form-group">
                                    <label for="actividad">Seleccionar Actividad:</label>
                                    <select id="actividad" name="actividad" class="form-control" onchange="validarStep2()">
                                      <option value="">Seleccione una actividad</option>
                                      {% for actividad in actividades %}
                                      <option value="{{ actividad.id }}" {% if actividad.id == actividad_id %}selected{% endif %}>{{ actividad.nombre }}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                          <button type="button" class="btn btn-primary" onclick="nextStep()" id="btnSiguienteStep2" name="btnSiguienteStep2" disabled>Siguiente</button>
                        </div>
                      </div>
    
                    <div class="card step-card" id="step3">
                        <div class="card-header">
                            3. Enviar Solicitud
                        </div>
                        <div class="card-body">
                            <div class="alert alert-warning mt-4">
                                <strong>NOTA:</strong> El peticionario es el único responsable del origen de las información ingresadas para el trámite correspondiente. El GADMS se reserva el derecho de iniciar la acción legal pertinente, en caso de que se detecte cualquier adulteración en los datos.
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <button type="submit" class="btn btn-success" id="btnSiguienteStep3" name="btnSiguienteStep3">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="tramite_id">
            <input type="hidden" id="numeroRequisitos" value="{{ numeroRequisitos }}" >            
            <input type="hidden" id="tipoTramiteSocioVehiculo" value="{{ tipoTramiteSocioVehiculo }}" >            
        </form>
    </div>   
    
    <!-- Modal -->
<div class="modal fade" id="descripcionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Descripción</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="modalDescripcion"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
</section>

{% endblock %}
{% block js %}


<script>  
    document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();  // Previene la acción por defecto de la tecla Enter
            }
        });
    let currentStep = 1;
    let requisitosIngresados = 0;
    function avanzarPorcentaje() {                       
        const progressBar = document.getElementById('mi-progress-bar');
        let valorActual = parseInt(progressBar.style.width, 10);    
        valorActual += 33;

        // Asegurarse de que el valor no exceda el 100%
        if (valorActual > 100) {
            valorActual = 100;
        }

        // Actualizar el ancho y el texto de la barra de progreso
        progressBar.style.width = valorActual + '%';
        progressBar.textContent = valorActual + '%';

        // Actualizar los atributos aria
        progressBar.parentElement.setAttribute('aria-valuenow', valorActual)       
    }

    function showStep(stepNumber) {
        // Ocultar todos los pasos
        var steps = document.querySelectorAll('.step-card');
        steps.forEach(function(step) {
            step.classList.remove('active');
        });

        var currentStepElement = document.getElementById('step' + stepNumber);
        currentStepElement.classList.add('active');

        currentStep = stepNumber;

        var stepLinks = document.querySelectorAll('.list-group-item');
        stepLinks.forEach(function(link) {
            link.classList.remove('active');
        });
        stepLinks[stepNumber - 1].classList.add('active');
        
    }

    function nextStep() {        
        if (currentStep < 4) {
            avanzarPorcentaje();
            showStep(currentStep + 1);            
        } 
        
    }

    function prevStep() {
        if (currentStep > 1) {
            showStep(currentStep - 1);
        }
    }

  
    showStep(1);

    function crearTramite() {
        // Obtén el valor del tipo de trámite socio vehículo
        var tipoTramiteSocioVehiculo = document.getElementById('tipoTramiteSocioVehiculo').value;

        // Obtén los valores de los campos del formulario
        const organizacion = document.getElementById('organizacion').value.trim();
        const ruc = document.getElementById('ruc').value.trim();
        const tipoOrganizacion = document.querySelector('input[name="tipo_organizacion"]:checked');

        // Asegúrate de que tipoOrganizacion no sea null antes de acceder a su valor
        const tipoOrganizacionValue = tipoOrganizacion ? tipoOrganizacion.value : null;

        // Crea el objeto cabecera
        const cabecera = {
            organizacion: organizacion,
            ruc: ruc,
            tipo_organizacion: tipoOrganizacionValue
        };

        // Convierte el objeto a JSON
        const cabeceraJSON = JSON.stringify(cabecera);

        // Crea el FormData
        var formData = new FormData();
        formData.append('tipoTramiteSocioVehiculo', tipoTramiteSocioVehiculo);
        formData.append('cabecera', cabeceraJSON); // Usa 'cabecera' en lugar de 'cabeceraJSON'
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); // Asegúrate de que el token CSRF esté correcto

        // Verifica si el campo tramite_id está vacío
        if (!document.getElementById('tramite_id').value) {
            $.ajax({
                url: '{% url "crearTramiteSocioVehiculo" %}', // Asegúrate de que la URL esté correcta
                type: 'POST',
                data: formData,
                contentType: false, // Necesario para enviar FormData
                processData: false, // Necesario para evitar que jQuery procese el FormData
                dataType: 'json',
                success: function(data) {
                    if (data.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.error,
                        });
                    } else {
                        document.getElementById('tramite_id').value = data.tramite_id;
                        Swal.fire({
                            icon: 'success',
                            title: 'Trámite creado',
                            text: `Trámite ID: ${data.tramite_id}`,
                        });
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error en la solicitud',
                        text: 'Hubo un problema al realizar la solicitud.',
                    });
                }
            });
        }
    }
    
    function verificarTonelaje(){
        event.preventDefault();
        event.stopPropagation(); 
        $('#resultado').removeClass('d-none');
        return false;
    } 
    
    function validarStep2(){
        console.log('ingresa')
        var actividad = $('#actividad').val();         
        const step3 = document.getElementById('stepLink3');
        const nextButton = document.getElementById('btnSiguienteStep2');                                                                
        if (actividad) {
            step3.classList.remove('disabled');
            nextButton.disabled = false; 
        }     
        return false;
    } 

    $(document).ready(function() {
        $('#matricula').on('input', function() {
            var inputField = document.getElementById('matricula');
            var errorMessage = document.getElementById('error-message-matricula');
            var regex = /^[a-zA-Z0-9]{1,10}$/;

            if (!regex.test(inputField.value)) {
                event.preventDefault(); 
                errorMessage.textContent = 'Por favor, ingrese solo letras y números, hasta un máximo de 10 caracteres.';
            } else {
                errorMessage.textContent = ''; 
            }
        });

        $('#identificacion').on('input', function() {
            var inputField = document.getElementById('identificacion');
            var errorMessage = document.getElementById('error-message-identificacion');
            var regex = /^\d{0,13}$/;

            if (!regex.test(inputField.value)) {
                event.preventDefault(); 
                errorMessage.textContent = 'Por favor, ingrese solo números, hasta un máximo de 13 caracteres.';
            } else {
                errorMessage.textContent = ''; 
            }
        });

        $('#tonelaje').on('input', function() {
            var tonelajeIngresado = parseFloat($(this).val());
            var tonelajeRequerido = parseFloat($('#tonelajeRequerido').val());

            if (isNaN(tonelajeIngresado)) {
                $('#mensaje-validacion').text('Por favor ingrese un valor numérico válido.');
                $('#btnVerificar').prop('disabled', true);
            } else if (tonelajeIngresado < tonelajeRequerido) {
                $('#mensaje-validacion').text('No requiere permiso de circulación');
                $('#btnVerificar').prop('disabled', true);
            } else {
                $('#mensaje-validacion').text('');
                $('#btnVerificar').prop('disabled', false);
            }
        });
 
    });
    
    $('#multiStepForm').on('submit', function(e) {
        
        event.preventDefault(); 
        var placa = $('#matricula').val(); 
        var identificacion = $('#identificacion').val(); 
        var tonelaje = $('#tonelaje').val(); 
        var actividad = $('#actividad').val(); 
        //alert('Solicitud Enviada');
        $.ajax({
            url: "{% url 'permiso_circulacion_solicitar' %}", 
            type: 'POST', 
            data: { 
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                placa: placa,
                identificacion: identificacion,
                tonelaje: tonelaje,
                actividad: actividad,
            }, 
            success: function(response) {
                if (response.status === 'success') {
                    // Muestra un mensaje de SweetAlert
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito',
                        text: response.message
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Redirige a la vista index
                            window.location.href = response.redirect_url;
                        }
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: response.message
                    });
                }
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Hubo un problema con la solicitud.'
                });
            }
        });



});

</script>
{% endblock %}
