<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Documento PDF</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .header, .footer {
            text-align: center;
            margin-bottom: 20px;
        }
        .content {
            margin: 0 50px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h2>Samborondon, - 19 de Julio de 2024</h2>
    </div>
    <div class="content">
        <p>Ing. Juan Emilio Kronfle Ramírez, MBA.<br>
        Gerente General de la Autoridad de Tránsito y Vigilancia de Samborondón<br>
        En su despacho. -</p>
        <p>De mis consideraciones:</p>
        <p>Yo, {{ nombre }} con cedula de identidad {{ cedula }} y vehículo de placa {{ placa }}, muy cordialmente y por su digno intermedio IMPUGNO LA MULTA correspondiente a la fecha {{ fecha_multa }} a las {{ hora_multa }} por la razón de:</p>
        <p>prueba</p>
        <p>Por la atención favorable que se le brinde a la presente, Atentamente.</p>
        <p>Formulario electronico de respaldo de solictud ingresada, el usuario declaro que la información proporcionada en este formulario es verdadera y correcta, y se comprometo a proporcionar a la institucion la información y documentación veraz que justifique ésta u otras solicitudes, cuando sean requeridas. Autorizando a la institucion, a realizar los análisis y verificaciones que consideren necesarias.</p>
        <p>Numero de Tramite: {{ numero_tramite }}<br>
        Fecha de Audiencia: {{ fecha_audiencia }}</p>
        <p>Nota: Copias de los documentos que se deben acompañar en formato PDF:</p>
        <ul>
            <li>Cédula de identidad y Matrícula Vehicular</li>
            <li>Prueba Documental (Certificado médico, carnet de discapacidad, fotos, otros)</li>
            <li>Si el vehículo pertenece a una persona jurídica debe adjuntar la representación legal</li>
            <li>En el caso que el trámite lo realice una tercera persona, debe traer autorización simple y copia de cédula del titular</li>
        </ul>
        <p><i>* CÓDIGO ORGÁNICO INTEGRAL PENAL - Artículo 328.- Falsificación y uso de documento falso.- La persona que falsifique, destruya o adultere modificando los efectos o sentido de los documentos públicos, privados, timbres o sellos nacionales, establecidos por la Ley para la debida constancia de actos de relevancia jurídica, será sancionada con pena privativa de libertad de cinco a siete años. El uso de estos documentos falsos, será sancionado con las mismas penas previstas en cada caso. *</i></p>
    </div>
</body>
</html>
