{% extends 'base.html' %}
{% block content %}
<style>
    /* Estilos para el modal */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
        /* Could be more or less, depending on screen size */
        max-width: 600px;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .fila-amarilla {
        background-color: yellow;
    }
</style>

<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-10 mb-4 text-center">Consulta de Multas</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 mx-auto">
                <form id="buscar-placa-form" class="mb-4">
                    <div class="row align-items-center justify-content-center">
                        <div class="form-inline">
                            <label for="placa" class="font-weight-bold mr-2">Placa:</label>
                            <input type="text" name="placa" class="form-control" id="placa" required maxlength="10"
                                placeholder="Ingrese número de placa" pattern="[a-zA-Z0-9]+">
                        </div>
                        <button type="submit" class="btn btn-primary px-4 shadow-none ml-2" name="btnBuscar"
                            id="btnBuscar">Buscar</button>
                        <div id="error-message-placa" style="color: red;"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="multasTabla-div" class="d-none mt-4">
            <table id="multasTabla" class="display w-100 mx-auto table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Fecha</th>
                        <th>Valor</th>
                        <th>Motivo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="aprobadasTableBody">
                    <!-- Las filas de la tabla serán insertadas aquí por JavaScript -->
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Modal para ver más detalles -->

<div id="detalleModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modalDetails">
            <!-- Detalles del pop-up serán insertados aquí por JavaScript -->
        </div>
    </div>
</div>

<div id="impugnarModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="modal-title">Impugnar Multa</h2>
        <form id="impugnarForm" method="POST" class="modal-form" action="{% url 'multas_impugnar' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="placa">Placa:</label>
                <input type="text" value="{{ placa }}" id="placa" name="placa" readonly class="form-control">
            </div>
            <div class="form-group">
                <label for="citacion_numero">Número Citación:</label>
                <input type="text" id="citacion_numero" name="citacion_numero" readonly class="form-control">
            </div>
            <div class="form-group">
                <label for="identificacion">Identificación:</label>
                <input type="text" value="0951987619" id="identificacion" name="identificacion" required class="form-control" pattern="[0-9]{10,13}">
            </div>
            <div class="form-group">
                <label for="nombres">Nombres:</label>
                <input type="text" value="ALEX ARMIJOS" id="nombres" name="nombres" required class="form-control" pattern="[a-zA-Z\s]+">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="tel" value="0929881111" id="telefono" name="telefono" required class="form-control" pattern="[0-9]{10,10}">
            </div>
            <div class="form-group">
                <label for="correo">Email:</label>
                <input type="email" value="sj.alexarmijos@gmail.com" id="correo" name="correo" required class="form-control">
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required class="form-control"></textarea>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}

<!-- DataTables Buttons CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script>
    jQuery(document).ready(function () {
        $('#placa').on('input', function () {
            var inputField = document.getElementById('placa');
            var errorMessage = document.getElementById('error-message-placa');
            var regex = /^[a-zA-Z0-9]{1,10}$/;

            if (!regex.test(inputField.value)) {
                event.preventDefault();
                errorMessage.textContent = 'Por favor, ingrese solo letras y números, hasta un máximo de 10 caracteres.';
            } else {
                errorMessage.textContent = '';
            }
        });

        $('#buscar-placa-form').on('submit', function (event) {
            event.preventDefault();
            const placa = $('#placa').val(); // Obtener el valor de la placa utilizando jQuery
            $('#impugnarModal input[name="placa"]').val(placa); // Agregar el valor de la placa al modal
            const urlTemplate = "{% url 'multas_consultar' 'PLACA_PLACEHOLDER' %}";
            const url = urlTemplate.replace('PLACA_PLACEHOLDER', placa);
            $('#multasTabla-div').addClass('d-none');

            $.ajax({
                url: url,
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#resultado').removeClass('d-none');
                    llenarTablaAprobadas(response.data)
                },
                error: function (xhr, status, error) {
                    console.log(status, 'indefinido');
                    $('#resultado').addClass('d-none');
                    Swal.fire('Advertencia', 'Hubo un error al consultar las actividades disponibles.', 'warning');
                }
            });
        });

        function llenarTablaAprobadas(data) {
            if ($.fn.DataTable.isDataTable('#multasTabla')) {
                $('#multasTabla').DataTable().clear().destroy();
            }

            var table = $('#multasTabla').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "dom": 'Bftlipr',
                "deferRender": true,
                "buttons": [
                {
                    "extend": 'excel',
                    "text": 'Exportar a Excel',
                    "className": 'btn btn-sm btn-primary'
                }
            ]
            });
            $('#multasTabla-div').removeClass('d-none');
            $.each(data.aprobada, function (index, multa) {
                var botones = `<td><button class="ver-detalles" data-multa='${JSON.stringify(multa)}'>Ver Detalles</button>
                                <button class='impugnar' id='btnImpugnar-${multa.numero}' data-multa='${JSON.stringify(multa)}'>Impugnar</button></td>`;

                var claseFila = multa.existe_solicitud == 1? 'fila-amarilla' : '';

                var rowNode = table.row.add([
                    multa.numero,
                    multa.fecha,
                    parseFloat(multa.valor).toFixed(2),
                    multa.motivo,
                    botones
                ]).draw().node();

                $(rowNode).addClass(claseFila);
            });
        }

        function verDetalles(multa) {
            const modal = $('#detalleModal');
            const modalDetails = $('#modalDetails');
            modalDetails.html(`
        <div class="modal-header">
            <h5 class="modal-title">Detalles de la Multa</h5>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <p><strong>Número:</strong> ${multa.numero}</p>
                <p><strong>Año:</strong> ${multa.anio}</p>
                <p><strong>Fecha:</strong> ${multa.fecha}</p>
                <p><strong>Motivo:</strong> ${multa.motivo}</p>
                <p><strong>Valor:</strong> ${multa.valor}</p>
                <p><strong>Ubicación:</strong> Latitud: ${multa.latitud}, Longitud: ${multa.longitud}</p>
            </div>
        </div>
    `);
            modal.show();
        }

        $(document).on('click', '.ver-detalles', function () {
            var multa = $(this).data('multa');
            verDetalles(multa);
        });

        var detalleModal = document.getElementById("detalleModal");
        var impugnarModal = document.getElementById("impugnarModal");

        var span = document.getElementsByClassName("close");

        Array.from(span).forEach(function (element) {
            element.onclick = function () {
                detalleModal.style.display = "none";
                impugnarModal.style.display = "none";
            };
        });

        window.onclick = function (event) {
            if (event.target == detalleModal) {
                detalleModal.style.display = "none";
            }
            if (event.target == impugnarModal) {
                impugnarModal.style.display = "none";
            }
        };

        $(document).on('click', '.impugnar', function () {
            var multa = $(this).data('multa');
            $('#citacion_numero').val(multa.numero);
            impugnarModal.style.display = "block";
        });

        $('#impugnarForm').submit(function (event) {
            event.preventDefault();
            var form = $(this);
            var actionUrl = form.attr('action');

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(),
                success: function (data) {
                    Swal.fire('Éxito', 'Su impugnación ha sido enviada.', 'success');
                    impugnarModal.style.display = "none";
                },
                error: function (data) {
                    Swal.fire('Error', 'Hubo un problema al enviar su impugnación.', 'error');
                }
            });
        });
    });
</script>
{% endblock %}