{% extends 'base.html' %}

{% block content %}

<section class="d-flex flex-column min-vh-50">
    <div class="container text-center my-auto py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-10 mb-4 text-center">Seguimiento de Multas Impugnadas</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 mx-auto">
                <form id="buscar-placa-form" class="mb-4">
                    <div class="row align-items-center justify-content-center">
                        <div class="form-inline">
                            <label for="placa" class="font-weight-bold mr-2">Placa:</label>
                            <input type="text" name="placa" class="form-control" id="placa" required maxlength="10"
                                placeholder="Ingrese número de placa" pattern="[a-zA-Z0-9]+">
                        </div>
                        <button type="submit" class="btn btn-primary px-4 shadow-none ml-2" name="btnBuscar"
                            id="btnBuscar">Buscar</button>
                        <div id="error-message-placa" style="color: red;"></div>
                        
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div id="multasImpugnadasTabla-div" class="d-none mt-4">
            <table id="multasImpugnadasTabla" class="display w-100 mx-auto table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                        <th>Valor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="aprobadasTableBody">
                    <!-- Las filas de la tabla serán insertadas aquí por JavaScript -->
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}
{% block js %}

<!-- DataTables Buttons CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script>     
jQuery(document).ready(function() {
    $('#placa').on('input', function() {
        var inputField = document.getElementById('placa');
        var errorMessage = document.getElementById('error-message-placa');
        var regex = /^[a-zA-Z0-9]{1,10}$/;

        if (!regex.test(inputField.value)) {
            event.preventDefault(); 
            errorMessage.textContent = 'Por favor, ingrese solo letras y números, hasta un máximo de 10 caracteres.';
        } else {
            errorMessage.textContent = ''; 
        }
    });
 
    $('#buscar-placa-form').on('submit', function(event) {
        event.preventDefault(); // Evita que el formulario se envíe de manera tradicional
        const placa = document.getElementById('placa').value;
        const urlTemplate = "{% url 'multas_consultar' 'PLACA_PLACEHOLDER' %}";
        const url = urlTemplate.replace('PLACA_PLACEHOLDER', placa);


        $.ajax({
            url: url, 
            type: 'GET', 
            data: {}, // Datos a enviar
            success: function(response) {  
                console.log(response.data,'data');
                $('#resultado').removeClass('d-none'); 
                llenarTablaAprobadas(response.data)                   
            },
            error: function(xhr, status, error) {
                console.log(status,'indefinido');
                $('#resultado').addClass('d-none');
                Swal.fire('Advertencia', 'Hubo un error al consultar las actividades disponibles.', 'warning');
            }
        });
    
    });

    function llenarTablaAprobadas(data) {
        if ($.fn.DataTable.isDataTable('#multasImpugnadasTabla')) {            
            $('#multasImpugnadasTabla').DataTable().clear().destroy();                
        }

        var table = $('#multasImpugnadasTabla').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "dom": 'Bftlipr',
                "deferRender": true,
                "buttons": [
                {
                    "extend": 'excel',
                    "text": 'Exportar a Excel',
                    "className": 'btn btn-sm btn-primary'
                }
            ]
        });
        $('#multasImpugnadasTabla-div').removeClass('d-none');
        $.each(data.impugnada, function(index, multa) {              
            console.log(multa.tramite_solicitud_atv); 
            console.log(multa.estado); 
            var botones = ``;
            if(multa.estado == 'APROBADO'){
                var nombreArchivo = `impugnacion.pdf`;
                var botones = `
                <td>        
                    <a href="https://debug.atv.gob.ec/api/citacion/impugnacion/doc/${multa.tramite_solicitud_atv}" download="${nombreArchivo}">Descargar PDF</a>
                </td>`;
            }        

            var claseFila = multa.existe_solicitud == 1 ? 'fila-amarilla' : '';

            // Crear la fila y añadirla al DataTable
            var rowNode = table.row.add([
                multa.numero,
                multa.estado,
                multa.fecha,
                parseFloat(multa.valor).toFixed(2),                
                botones
            ]).draw().node();

            // Aplicar la clase CSS a la fila
            $(rowNode).addClass(claseFila);
        });
    }
    
    $('#descargarPdfBtn').on('click', function() {       
        console.log('ok') 
        var tramiteId = $(this).data('tramite-id');
        console.log('Tramite ID:', tramiteId);  // Debugging: Verifica que tramiteId esté correcto
                
        window.location.href = url;
    });

});
</script>
{% endblock %}
